[MASTER]
ignore=migrations
ignore-patterns=^.*\.pyc$
load-plugins=pylint_django
django-settings-module=Library_project.settings

[MESSAGES CONTROL]
disable=
    C0103,  # invalid-name
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    E0401,  # import-error
    E1101,  # no-member
    W0212,  # protected-access
    R0903,  # too-few-public-methods
    R0801,  # duplicate-code
    C0411   # wrong-import-order

[TYPECHECK]
ignored-modules=
    django,
    django.db,
    django.db.models,
    django.contrib,
    library_web

ignored-classes=ModelBase,ForeignKey,ManyToManyField,CharField,TextField
generated-members=id,title,objects,doesnotexist,DoesNotExist

[FORMAT]
max-line-length=120
good-names=i,j,k,ex,pk,id
