.add--section{
    padding: 5% 7%;
    font-weight: 600;
}
.add--section form{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.btn{
    width: 30%;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: #B1C381;
    color: #fff;
    border: none;
    font-weight: 600;
}
form .form-check-input {
  margin-right: 5px;
}
label[for^="id_rating_"] {
  font-size: 1.5rem;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  color: gold;
}
