name: Static Analysis Pylint

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

# Follow the least privilege security principle for the GITHUB TOKEN
permissions:
    contents: read
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.9"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
                pip install pylint

            - name: Set PYTHONPATH so pylint can find Django project
              run: echo "PYTHONPATH=${GITHUB_WORKSPACE}" >> $GITHUB_ENV

            - name: Run/execute pylint on tracked Python files
              run: |
                pylint $(git ls-files '*.py')
                
            - name: SonarCloud Scan
              uses: SonarSource/sonarqube-scan-action@v5.0.0
              with:
                args: >
                  -Dsonar.projectKey=Vishal-v-17_Devops_Project
                  -Dsonar.organization=vishal-v-17
                  -Dsonar.sources=.
                  -Dsonar.python.version=3.9
                  -Dsonar.exclusions=staticfiles/**,**/migrations/**,**/__pycache__/**
                  -Dsonar.generatedSources=staticfiles/admin/**
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}